@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {

/* THEME 1 */    
/*background*/

--main-background: hsl(222, 26%, 31%);
--toggle-background: hsl(223, 31%, 20%);
--screen-background: hsl(224, 36%, 15%);

/* Keys */

--key-background: hsl(225, 21%, 49%);
--key-shadow: hsl(224, 28%, 35%);

--key-background-toggle: hsl(6, 63%, 50%);
--red-key-shadow: hsl(6, 70%, 34%);

--orange-key-background: hsl(30, 25%, 89%);
--orange-key-shadow: hsl(28, 16%, 65%);

/* Text */ 

--dark-graysh-blue: hsl(221, 14%, 31%);
--white: hsl(0, 0, 100%);

/* THEME 2 */
/*background*/

--theme2-main-background: hsl(0, 0%, 90%);
--theme2-keypad-background: hsl(0, 5%, 81%);
--theme2-screen-background: hsl(0, 0%, 93%);

/* Keys */
--theme2-main-background: hsl(185, 42%, 37%);
--theme2-key-shadow: hsl(185, 58%, 25%);

--theme2-orange: hsl(25, 98%, 40%);
--theme2-toggle-shadow: hsl(25, 99%, 27%);

--theme2-key-background: hsl(45, 7%, 89%);
--theme2-key-shadow-2: hsl(35, 11%, 61%);

/* Text */
--theme2-text-shadow: hsl(60, 10%, 19%);

/*THEME3 */
/*Backgrounds*/

--theme3-main-background: hsl(268, 75%, 9%);
--theme3-screen-background: hsl(268, 71%, 12%);

/*keys*/

--theme3-key-background: hsl(281, 89%, 26%);
--theme3-key-shadow: hsl(285, 91%, 52%);

--theme3-toggle: hsl(176, 100%, 44%);
--theme3-toggle-key-shadow: hsl(177, 92%, 70%);

--theme3-key-background2: hsl(268, 47%, 21%);
--theme3-key-shadow2: hsl(290, 70%, 36%);

/*text*/

--light-yellow: hsl(52, 100%, 62%);
--very-dark-blue: hsl(198, 20%, 13%);

--spartan-ff: "Spartan", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);
    font-family: var(--spartan-ff);
}

.calculator-wrapper {
    height: max-content;
    
    width: min(90%, 490px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > .title {
    color:hsl(0, 0%, 100%);
}

/*toggle selector 
To do this I started by figuring out how to do the thing on Codepen: 
https://codepen.io/lorenzobandini27/pen/BawxQwR */


.toggle-selector {
    display: flex;
    height: 50px;
    width: 260px;
    padding: 5px;

    align-items: center;
    justify-content: flex-end;
}

.number-selector {
  justify-self: flex-end;
  margin-top: -40px;
  margin-right: -55px;
  display: flex;
  width: 50px;
  justify-content: space-between;
  
  
  font-size: 12px;
}

.toggle-selector > legend {
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 20px;
    color:hsl(0, 0%, 1000%);
}

.toggle-container {
  z-index: 999;
    display: flex;
   
    width: 60px;
    height: 20px;
    
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 25px;

    background-color: var(--toggle-background);
}

input {
    display: none;
  }
  
  label {
    width: 100%;
    cursor: pointer;
  }

  .round {
    position: absolute;
    top:2px; left: 3px; right: 0; bottom: 0;
    height: 80%;
    width: 17px;
    
  background-color: var(--key-background-toggle); 
    border-radius: 50%;
    
    transition: all .3s ease;
  }
  
  .checkbox1:checked ~ .round {
    transform: translateX(0px);
  }
  
  .checkbox2:checked ~ .round {
    transform: translateX(19px);
  }
  
  .checkbox3:checked ~ .round {
    transform: translateX(38px);
  }

  /*input*/

  .input-container {
      margin: 30px auto;
      min-height: 85px;
      height: max-content;
      width: 100%;

      background-color: var(--screen-background);
      border-radius: 5px;

      display: flex;
      flex-direction: column;
  
      align-items: flex-end;
      justify-content:center;
      padding: 20px;

      color:hsl(0, 0%, 100%);

      word-wrap: break-word;
      word-break: break-all;

      font-size: 2rem;
  }

  .input-container > .current-operand {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .previous-operand {
    display: none;
  }

  /*grid*/

  .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 1.5em;
      gap: 1em;

      width: 100%;
      height: max-content;
      border-radius: 15px;  
  }

  .grid-container > button {
    font-family: var(--spartan-ff);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    justify-content: center;

    border-radius: 10px;
    height: 60px;

    background-color: var(--orange-key-background);
    border: none;
    border-bottom: 5px solid var(--orange-key-shadow);

    cursor: pointer;
  }

  button:active {
    transform: scale(0.95);
  }

  .grid-container > .span {
      grid-column: span 2;
  }

  .grid-container > .delete, 
  .grid-container > .reset {
      color:hsl(0, 0%, 100%);
      font-size: 18px;
      background-color: hsl(225, 21%, 49%);

     border-bottom: 5px solid var(--key-shadow);
  }

  .grid-container > .equal {
      color:hsl(0, 0%, 100%);
      font-size: 18px;
  }

  /* Default style */


  .calculator-wrapper.style1 .title,
  .calculator-wrapper.style1 legend,
  .calculator-wrapper.style1 button,
  .calculator-wrapper.style1 .input-container {
   color: hsl(0, 0, 100%);
  }

  .calculator-wrapper.style1 .number-selector {
    color:hsl(0, 0%, 100%);
  }

  .calculator-wrapper.style1 .toggle-container,
  .calculator-wrapper.style1 .grid-container {
    background-color: var(--toggle-background);
  }

  .calculator-wrapper.style1 .input-container {
    background-color: var(--screen-background);
  }

  .calculator-wrapper.style1 button {
    background-color: var(--theme2-key-background);
    border-bottom: 5px solid var(--orange-key-shadow);
  }

  .calculator-wrapper.style1 .delete, 
  .calculator-wrapper.style1  .reset {
      color:hsl(0, 0%, 100%);
      font-size: 18px;
      background-color: hsl(225, 21%, 49%);

     border-bottom: 5px solid var(--key-shadow);
  }

  .calculator-wrapper.style1 .equal {
    color: white;
    background-color: var(--key-background-toggle);

    border-bottom: 5px solid var(--red-key-shadow);
  }

  /* White style */

  .calculator-wrapper.style2 .title,
  .calculator-wrapper.style2 legend,
  .calculator-wrapper.style2 button,
  .calculator-wrapper.style2 .input-container {
   color: var(--theme2-text-shadow);
  }

  .calculator-wrapper.style2 .number-selector {
    color:var(--theme2-text-shadow);
  }

  .calculator-wrapper.style2 .toggle-container,
  .calculator-wrapper.style2 .grid-container {
    background-color: var(--theme2-keypad-background);
  }

  .calculator-wrapper.style2 .input-container {
    background-color: var(--theme2-screen-background);
  }

  .calculator-wrapper.style2 button {
    background-color: var(--orange-key-background);
    border-bottom: 5px solid var(--theme2-key-shadow-2);
  }

  .calculator-wrapper.style2 .delete, 
  .calculator-wrapper.style2  .reset {
      color:hsl(0, 0%, 100%);
      font-size: 18px;
      background-color: var(--theme2-main-background);

     border-bottom: 5px solid var(--theme2-key-shadow);
  }

  .calculator-wrapper.style2 .equal {
    color: white;
    background-color: var(--theme2-orange);
    border-bottom: 5px solid var(--theme2-toggle-shadow);
  }

  /* Dark style */

  .calculator-wrapper.style3 .title,
  .calculator-wrapper.style3 legend,
  .calculator-wrapper.style3 button,
  .calculator-wrapper.style3 .input-container {
   color: var(--light-yellow);
  }

  .calculator-wrapper.style3 .number-selector {
    color:var(--light-yellow);
  }

  .calculator-wrapper.style3 .toggle-container,
  .calculator-wrapper.style3 .grid-container {
    background-color: var(--theme3-screen-background);
  }

  .calculator-wrapper.style3 .input-container {
    background-color: var(--theme3-screen-background);
  }

  .calculator-wrapper.style3 button {
    background-color: var(--theme3-key-background2);
    border-bottom: 5px solid var(--theme3-key-shadow2);
  }

  .calculator-wrapper.style3 .delete, 
  .calculator-wrapper.style3  .reset {
      color:hsl(0, 0%, 100%);
      font-size: 18px;
      background-color: var(--theme3-key-background);

     border-bottom: 5px solid var(--theme3-key-shadow);
  }

  .calculator-wrapper.style3 .equal {
    color: white;
    background-color: var(--theme3-toggle);
    border-bottom: 5px solid var(--theme3-toggle-key-shadow);
  }